{{#each presets}}

<h4 class="presets-name">  {{name}} </h4>
<form class="presets-buttons">
  <button id={{id}} class="load"> Load </button>
  <button id={{id}} class="update"> Save </button>
  <button id={{id}} class="delete"> Delete </button>
</form>
<br>

{{/each}}
