$pure-blue: #00f;

body {
  // background-color: red;
  background-image: url('http://i.imgur.com/gmuhE5e.gif');
  // background-image: url('../images/waves-gif.gif');
  background-repeat:no-repeat;
  background-size: 100% 100%;
  color: white;
  min-height: 100vh;
}

audio {
  display: none;
}

input[type=range] {
  // display: inline;
  width: 200px;
  height: 100px;
}

header {
  // border: 2px solid cyan;
  overflow: hidden;
}

.banner {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
}

.play-button {
  // border: 2px solid yellow;
  text-align: center;
  padding: 20px 0;
}

.user-ajax {
  // border: 2px solid $pure-blue;
  margin: 0 auto;
  overflow: hidden;
}

.navbar {
  // border: 2px solid magenta;
  float: left;
  width: 25%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.preset-ajax {
  // border: 2px solid red;
  // text-align: center;
  // float: left;
  overflow: hidden;
  // height: 500px;
}

.sidebar {
  text-align: center;
  height: 100%;
  width: 25%;
  float: right;
}

.audio-div {
  // border: 2px solid green;
  height: 100%;
  width: 75%;
  float: left;
}

form {
  float: left;
  margin: 3%;
  text-align: center;
}

h3:hover {
  color: $pure-blue;
}
